<nav x-data="{ isOpen: false }"
    class="relative items-center pt-5 px-4 mx-auto max-w-screen-xl sm:px-8 md:flex md:space-x-6">
    <div class="flex justify-between">
        <a href="#">
            <p class="text-4xl font-bold text-indigo-600">Rever</p>
        </a>
        <button class="text-gray-500 outline-none md:hidden" @click="isOpen = !isOpen">
            <template x-if="isOpen">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </template>
            <template x-if="!isOpen">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </template>
        </button>
    </div>
    <ul :class="isOpen ? 'absolute inset-x-0 px-4 border-b bg-white md:border-none md:static' : 'hidden'"
        class="flex-1 justify-between mt-12 md:text-sm md:font-medium md:flex md:mt-0">
        <div class="items-center space-y-5 md:flex md:space-x-6 md:space-y-0 md:ml-12">
            <li class="text-gray-500 hover:text-indigo-600">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="text-gray-500 hover:text-indigo-600">
                <a href="{% url 'revision' %}">Practice</a>
            </li>
            <li class="text-gray-500 hover:text-indigo-600">
                <a href="#features">Features</a>
            </li>
            <li class="text-gray-500 hover:text-indigo-600">
                <a href="#pricing">Pricing</a>
            </li>
        </div>
        <li class="order-2 py-5 md:py-0">
            <button class="btn btn-ghost btn-circle" onclick="searchbox.showModal()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
              </button>
      
              <dialog id="searchbox" class="modal">
                <input type="text" placeholder="Search [Cmd + K]" class="modal-box h-12 input" autofocus />
               
                <form method="dialog" class="modal-backdrop">
                  <button>close</button>
                </form>
              </dialog>
        </li>
    </ul>
</nav>