{% extends 'base.html' %} 
{% load static %}

{% block content %}

{% include 'RevisionApp/snippets/messages.html' %}
{% include 'RevisionApp/Controls.html' %}

<div class="flex flex-col justify-center overflow-x-auto mt-5 md:px-6" >
  <table class="table min-h-12">
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
        <th>Frequency</th>
      </tr>
    </thead>

    <tbody
      id="tableBody"
      hx-get="/revision"
      hx-trigger="load"
      hx-swap="innerHTML"
      hx-indicator=".htmx-indicator"
    
    >
      {% partialdef problemsComponent %} 
      
      {% for problem in problems %}
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-post="{% url 'solved' %}" hx-vals="{{problem}}"/>
          </label>
        </th>
        <td>{{problem.title}}</td>
        <td>{{problem.description}}</td>
        <td>{{problem.link}}</td>
        <td>{{problem.frequency}}</td>
      </tr>
      {% empty %}
    <tr>
      <td colspan="5" class="text-center">
        <div class="flex flex-col items-center py-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-10 h-10" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg>
        <p class="text-gray-400 text-md font-bold mt-2">No problems found</p>
        </div>
      </td>
    </tr>
      {% endfor %} 
      
      {% endpartialdef %}
    </tbody>
  </table>
  <div class="htmx-indicator flex justify-center mt-5">
    <span
      id="loading"
      class="loading loading-spinner text-primary loading-xl"
    ></span>
  </div>
</div>

{% endblock %}
